<form
  [formGroup]="weatherForm"
  (ngSubmit)="submit()"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <label for="date" class="block text-gray-700 text-sm font-bold mb-2"
      >Date:</label
    >
    <input
      type="date"
      formControlName="date"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="mb-4">
    <label for="tempC" class="block text-gray-700 text-sm font-bold mb-2"
      >Temperature (°C):</label
    >
    <input
      type="number"
      step="0.01"
      formControlName="tempC"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="mb-4">
    <label for="rainfall" class="block text-gray-700 text-sm font-bold mb-2"
      >Rainfall (mm):</label
    >
    <input
      type="number"
      step="0.01"
      formControlName="rainfall"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="mb-4">
    <label for="windSpeed" class="block text-gray-700 text-sm font-bold mb-2"
      >Wind Speed (m/s):</label
    >
    <input
      type="number"
      step="0.01"
      formControlName="windSpeed"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="flex items-center">
    <button
      *ngIf="!isEditMode"
      type="submit"
      [disabled]="!weatherForm.valid"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer mr-2"
    >
      Add
    </button>
    <button
      *ngIf="isEditMode"
      type="button"
      (click)="updateWeather()"
      class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer mr-2"
    >
      Edit
    </button>
    <button
      type="button"
      (click)="clearForm()"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
    >
      Clear
    </button>
  </div>
</form>
