<div>
  <div
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-[350px] h-[426px] overflow-auto"
    *ngIf="selectedCityWeatherData.length > 0"
  >
    <ul>
      <li
        *ngFor="let weather of selectedCityWeatherData"
        class="weather-item flex justify-between items-center"
      >
        <span (click)="showWeatherDetail(weather)">{{
          weather.date | date : "fullDate"
        }}</span>
        <button class="text-red-500" (click)="deleteWeatherData(weather.id)">
          <i class="fas fa-times"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
