<div class="container mx-auto">
  <h1 class="text-3xl font-bold underline text-center my-6">
    Tervetuloa Sääsovellukseen!
  </h1>
  <!-- Kotisivun sisältö tähän -->
  <p>
    Tälle sivulle tulee varmaan ainakin pikahaku Open Weather, että voi hakea
    jonkun paikan säätiedot. Pitää miettiä laittaaka etusivulle näkymään
    automaattisesti esim. parin paikan säät vai paukkuukohan API requestit yli?
    Tosin tämän voisi kikkailla esim. tallentamalla cacheen/tilaan yms yms.
    tietyt säätiedot ja sitten vasta tehdä pyynnön, jos näitä ei ole olemassa
    ja/tai ainaki uudelleen uutena päivänä
  </p>
  <p>
    Omista syötetyistä paikoista/kaupungeista näytetään omat lempparit, jotka
    voi valita. Sitten pitää miettiä minkälaisena tilastona nämä näytetään.
  </p>
</div>
