<div class="bg-gray-200 h-full min-h-screen">
  <div class="container mx-auto">
    <h3 class="text-3xl font-bold underline text-center text-blue-600 p-6">
      Weather App
    </h3>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <p class="text-gray-700 text-base mb-4">
        The Weather App is a versatile tool that provides detailed weather
        forecasts and historical weather conditions. Users can add and manage
        different cities, assigning each a unique information text and storing
        their weather data by date. The app enables the recording of temperature
        (°C), rainfall (mm), and wind speed (m/s), as well as the editing or
        deletion of these data as needed.
      </p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <p class="text-gray-700 text-base mb-4">
        Visualization is implemented using the Chart.js library, which provides
        a graphical representation of the collected weather data. This helps to
        understand the trends and changes in weather phenomena over time.
      </p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <p class="text-gray-700 text-base mb-4">
        Additionally, the Weather App includes integration with the OpenWeather
        API, which provides users with real-time weather information from any
        location. This includes data on the current weather condition,
        temperature, feels-like temperature, humidity, air pressure, wind speed
        and direction, and wind gusts.
      </p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <p class="text-gray-700 text-base">
        The Weather App is designed to provide users with the necessary
        information for weather monitoring and daily use quickly and
        effortlessly.
      </p>
    </div>
  </div>
</div>
