<div class="flex justify-center space-x-2 pt-6">
  <div class="relative inline-block text-left">
    <button
      type="button"
      class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none capitalize"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="isDropdownOpen = !isDropdownOpen; isDateDropdownOpen = false"
    >
      {{ selectedCity?.cityname || "Select city" }}
      <svg
        class="-mr-1 ml-2 h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <div
      *ngIf="isDropdownOpen"
      class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <button
          *ngFor="let city of cities"
          class="text-gray-700 block px-4 py-2 text-sm text-left w-full text-align-left capitalize"
          role="menuitem"
          (click)="selectCity(city, $event)"
        >
          {{ city.cityname }}
        </button>
      </div>
    </div>
  </div>

  <div class="relative inline-block text-left">
    <button
      type="button"
      [disabled]="!selectedCity"
      class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
      id="date-menu-button"
      aria-haspopup="true"
      (click)="isDateDropdownOpen = !isDateDropdownOpen; isDropdownOpen = false"
    >
      {{ selectedDate || "Select Month/Year" }}
    </button>

    <div
      *ngIf="isDateDropdownOpen"
      class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="date-menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <button
          *ngFor="let dateOption of dateOptions"
          class="text-gray-700 block px-4 py-2 text-sm text-left w-full text-align-left"
          role="menuitem"
          (click)="selectDate(dateOption)"
        >
          {{ dateOption }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 mx-6">
  <div>
    <canvas id="temperatureCanvas"></canvas>
  </div>
  <div>
    <canvas id="windSpeedCanvas"></canvas>
  </div>
  <div>
    <canvas id="rainfallCanvas"></canvas>
  </div>
  <div></div>
</div>
