<div class="weather-form-background">
  <div class="max-w-md mx-auto py-8">
    <h1
      class="text-2xl font-bold text-white mb-6 text-center capitalize text-outline"
    >
      {{ cityName }}
    </h1>
    <form
      [formGroup]="weatherForm"
      (ngSubmit)="submit()"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label for="date" class="block text-gray-700 text-sm font-bold mb-2"
          >Date:</label
        >
        <input
          type="date"
          formControlName="date"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label for="tempC" class="block text-gray-700 text-sm font-bold mb-2"
          >Temperature (°C):</label
        >
        <input
          type="text"
          formControlName="tempC"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label for="rainfall" class="block text-gray-700 text-sm font-bold mb-2"
          >Rainfall (mm):</label
        >
        <input
          type="text"
          formControlName="rainfall"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="mb-4">
        <label
          for="windSpeed"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Wind Speed (m/s):</label
        >
        <input
          type="text"
          formControlName="windSpeed"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit"
          [disabled]="!weatherForm.valid"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline button-pointer"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
