<div class="bg-gray-200 h-full min-h-screen pt-6">
  <div class="flex justify-center">
    <div class="bg-white rounded shadow-lg p-6">
      <div class="flex items-center space-x-2">
        <input
          type="text"
          [(ngModel)]="city"
          placeholder="Enter City Name"
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline capitalize"
        />
        <select
          [(ngModel)]="countryCode"
          class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let country of countyCodes" [value]="country.code">
            {{ country.name }} ({{ country.code }})
          </option>
        </select>
        <button
          (click)="getWeather()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Get Weather
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="weatherData"
    class="mt-6 px-8 py-4 bg-white rounded shadow-md mx-auto w-full md:max-w-xl"
  >
    <h2 class="text-xl font-semibold mb-2">
      {{ weatherData.name }}, {{ weatherData.sys.country }}
    </h2>
    <p class="mb-1">
      <strong>Temperature:</strong> {{ weatherData.main.temp }}°C
    </p>
    <p class="mb-1">
      <strong>Weather:</strong> {{ weatherData.weather[0].main }}
    </p>
    <p>
      <strong>Description:</strong> {{ weatherData.weather[0].description }}
    </p>
  </div>
</div>
